<ion-view view-title="Dashboard">

  <ion-content>
    <!--div class="bar bar-header item-input-inset">
    <label class="item-input-wrapper">
      <i class="icon ion-ios-search placeholder-icon"></i>
      <input type="search" ng-model="data.strSearch" ng-change="search()" placeholder="Search">
    </label>
    <button class="button button-clear" ng-click="clearSearch()">
      Cancel
    </button>
  </div-->
    <!--ion-list ng-repeat="pat in patients track by $index">
      <!--ion-item class="item-avatar item-icon-right" href="#/app/dash-detail/{{pat.resource.id}}">
        <img ng-src="https://randomuser.me/api/portraits/thumb/men/{{$index}}.jpg">
        <h2>{{pat.resource.name[0].text}}</h2>
        <p><b>DOB: </b>{{pat.resource.birthDate}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
    <!--div class="list card" ng-show="!patients.length">
      <div class="item item-divider">No Patients found</div>
      <div class="item item-body">
        <div>
          It looks like there are no patients have been found for your search criteria.
        </div>
      </div>
    </div-->

    <!-- Gamification icon for "On fire" -->
    <div>
        <div class="col"><br>You're on fire!
        <img class="resizeImgPill" ng-src="./img/Heat.png"></div>
    </div>
    <div class="list card">
      <div class="item item-body" ng-click="goToDetailList('breakfast');">
        <div class="row">
          <div class="col col-33">
            Wake Up
            <img class="resizeImgPill" ng-src="./img/breakfast.png">
          </div>
          <div class="col">
            <span style="position:relative">
              <img class="resizeImgPill" ng-src="./img/orange-pill.png">
              <img style="position:absolute; left:5px; bottom:0;" class="resizeSuccess" ng-src="./img/success.png">
            </span>
              <span style="position:relative">
              <img class="resizeImgPill" ng-src="./img/red-white-capsule.png">
                <img style="position:absolute; left:5px; bottom:0;" class="resizeSuccess" ng-src="./img/RedX.png">
              </span>
              <span style="position:relative">
              <img class="resizeImgPill" ng-src="./img/pastedimage.png">
                <img style="position:absolute; left:5px; bottom:0;" class="resizeSuccess" ng-src="./img/RedX.png">
              </span>
              <span style="position:relative">
              <img class="resizeImgPill" ng-src="./img/red-white-capsule.png">
                <img style="position:absolute; left:5px; bottom:0;" class="resizeSuccess" ng-src="./img/RedX.png">
              </span>
          </div>
        </div>
      </div>
    </div>
    <div class="list card"  ng-click="goToDetailList('breakfast')">
      <div class="item item-body">
        <div class="row">
          <div class="col col-33">
            Breakfast
            <img class="resizeImgPill" ng-src="./img/breakfast.png">
          </div>
          <div class="col">
            <span style="position:relative">
              <img class="resizeImgPill" ng-src="./img/orange-pill.png">
              <img style="position:absolute; left:5px; bottom:0;" class="resizeSuccess" ng-src="./img/success.png">
            </span>
              <span style="position:relative">
              <img class="resizeImgPill" ng-src="./img/red-white-capsule.png">
                <img style="position:absolute; left:5px; bottom:0;" class="resizeSuccess" ng-src="./img/RedX.png">
              </span>
              <span style="position:relative">
              <img class="resizeImgPill" ng-src="./img/pastedimage.png">
                <img style="position:absolute; left:5px; bottom:0;" class="resizeSuccess" ng-src="./img/RedX.png">
              </span>
              <span style="position:relative">
              <img class="resizeImgPill" ng-src="./img/red-white-capsule.png">
                <img style="position:absolute; left:5px; bottom:0;" class="resizeSuccess" ng-src="./img/RedX.png">
              </span>
          </div>
        </div>
      </div>
    </div>
    <div class="list card" ng-click="goToDetailList('lunch')">
      <div class="item item-body">
        <div class="row">
          <div class="col col-33">Lunch</div>
          <div class="col">
            <span style="position:relative">
              <img class="resizeImgPill" ng-src="./img/orange-pill.png">
              <img style="position:absolute; left:5px; bottom:0;" class="resizeSuccess" ng-src="./img/success.png">
            </span>
              <span style="position:relative">
              <img class="resizeImgPill" ng-src="./img/red-white-capsule.png">
                <img style="position:absolute; left:5px; bottom:0;" class="resizeSuccess" ng-src="./img/RedX.png">
              </span>
              <span style="position:relative">
              <img class="resizeImgPill" ng-src="./img/pastedimage.png">
                <img style="position:absolute; left:5px; bottom:0;" class="resizeSuccess" ng-src="./img/RedX.png">
              </span>
              <span style="position:relative">
              <img class="resizeImgPill" ng-src="./img/red-white-capsule.png">
                <img style="position:absolute; left:5px; bottom:0;" class="resizeSuccess" ng-src="./img/RedX.png">
              </span>
          </div>
        </div>
      </div>
    </div>
    <div class="list card" ng-click="goToDetailList('dinner')">
      <div class="item item-body">
        <div class="row">
        <div class="row">
          <div class="col col-33">Dinner</div>
          <div class="col">
            <span style="position:relative">
              <img class="resizeImgPill" ng-src="./img/orange-pill.png">
              <img style="position:absolute; left:5px; bottom:0;" class="resizeSuccess" ng-src="./img/success.png">
            </span>
              <span style="position:relative">
              <img class="resizeImgPill" ng-src="./img/red-white-capsule.png">
                <img style="position:absolute; left:5px; bottom:0;" class="resizeSuccess" ng-src="./img/RedX.png">
              </span>
              <span style="position:relative">
              <img class="resizeImgPill" ng-src="./img/pastedimage.png">
                <img style="position:absolute; left:5px; bottom:0;" class="resizeSuccess" ng-src="./img/RedX.png">
              </span>
              <span style="position:relative">
              <img class="resizeImgPill" ng-src="./img/red-white-capsule.png">
                <img style="position:absolute; left:5px; bottom:0;" class="resizeSuccess" ng-src="./img/RedX.png">
              </span>
          </div>
          </div>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-body">
        <div class="row">
          <div class="row">
            <div class="col col-33">Bed Time</div>
            <div class="col">
            <span style="position:relative">
              <img class="resizeImgPill" ng-src="./img/orange-pill.png">
              <img style="position:absolute; left:5px; bottom:0;" class="resizeSuccess" ng-src="./img/success.png">
            </span>
              <span style="position:relative">
              <img class="resizeImgPill" ng-src="./img/red-white-capsule.png">
                <img style="position:absolute; left:5px; bottom:0;" class="resizeSuccess" ng-src="./img/RedX.png">
              </span>
              <span style="position:relative">
              <img class="resizeImgPill" ng-src="./img/pastedimage.png">
                <img style="position:absolute; left:5px; bottom:0;" class="resizeSuccess" ng-src="./img/RedX.png">
              </span>
              <!--<span style="position:relative">
              <img class="resizeImgPill" ng-src="./img/red-white-capsule.png">
                <img style="position:absolute; left:5px; bottom:0;" class="resizeSuccess" ng-src="./img/RedX.png">
              </span>-->
            </div>
          </div>
        </div>
      </div>
    </div>




    <!--div class="list card">
      <div class="item item-divider">Lunch</div>
      <div class="item item-body">
        <div>
          Medication
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Dinner</div>
      <div class="item item-body">
        <div>
          Medication
        </div>
      </div>
    </div-->
  </ion-content>
</ion-view>
