<ion-view view-title="Account">
  <ion-content>
    <ion-list>
      <ion-toggle  ng-model="settings.enablePushNotifications" ng-checked="true">
        Enable Push Notifications
      </ion-toggle>

    </ion-list>
    <li class="item item-checkbox">
      <label class="checkbox">
        <input type="checkbox" ng-checked="true">
      </label>
      Use TouchID to login
    </li>
  </ion-content>
  <ion-footer-bar align-title="center" class="bar-assertive">
    <h1 class="title">Logout!</h1>
    <!--<div class="buttons" ng-click="logout()">
      <button class="button">Right Button</button>
    </div>-->
  </ion-footer-bar>
</ion-view>
